<div class="clock">
    <div class="overlay"></div>
    <div class="display">
			<div class="hours">
        <div dojoType="clock.DigitView" dojoAttachPoint="hoursView"></div>
			</div>
      <div dojoAttachPoint="separatorView" dojoType="clock.SeparatorView"></div>
			<div class="minutes">
        <div dojoType="clock.DigitView" dojoAttachPoint="minutesView"></div>
			</div>
			<div class="seconds">
        <div dojoType="clock.DigitView" dojoAttachPoint="secondsView"></div>
			</div>
      <div dojoType="clock.AMPMView" dojoAttachPoint="ampmView"></div>
    </div>
		<div dojoType="clock.PrefsView"></div>
</div>